:root {
  font-size: calc(0.6rem + 0.6vw);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid white; */
}

.App {
  background-image: url(https://images5.alphacoders.com/438/thumb-1920-438463.png);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: aliceblue;
}

.App a:visited {
  color: aliceblue;
}

::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(82, 41, 148, 0.8);
}
